#root {
    max-width: 1260px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }


#root1 {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-image: url(/public/imagenes/imagen8.jpg);
  background-size:auto;
}

